<form>
  <label>Name</label>
  <input ng-model="newParty.name">
  <label>Description</label>
  <input ng-model="newParty.description">
  <label>Public</label>
  <input type="checkbox" ng-model="newParty.public">
  <button ng-click="newParty.owner=$root.currentUser._id; parties.save(newParty); newParty = {}">Add</button>
  <button ng-click="removeAll()">Remove All</button>

</form>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="party in parties">
    <a href="/parties/{{party._id}}" class="list-group-item">
        <!-- <a href="/parties/{{party._id}}">{{party.name}}</a> -->
       <h4 class="list-group-item-heading">{{party.name}}  <span class="label label-success" ng-show="party.public">Public</span></h4>
          <p class="list-group-item-text">{{party.description}}   <button ng-click="remove(party)">X</button> </p>

     </a>

  </li>
</ul>
