<form>
  <label>Name</label>
  <input ng-model="newParty.name">
  <label>Description</label>
  <input ng-model="newParty.description">
  <button ng-click="sctrl.add(newParty); newParty = {}">Add</button>
  <button ng-click="sctrl.removeAll()">Remove All</button>
  <button ng-click="sctrl.runLs()">Run LS</button>
</form>
Filter: <input type="text" ng-model="sctrl.searchText" /> <br /><br />
 <ul class="list-group">
  <li class="list-group-item" ng-repeat="r_sub in sctrl.relevant_subscriptions_view">

       <h4 class="list-group-item-heading">{{r_sub.name}}  </h4>
          <p class="list-group-item-text">{{r_sub.description}}   <button ng-click="sctrl.remove(r_sub)">X</button> </p>




  </li>

<hr>
  <li class="list-group-item" ng-repeat="li in sctrl.ls_lita">

       <h4 class="list-group-item-heading">{{li.file}}  </h4>
       
  </li>
</ul>
