<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div ng-app="socially" ng-strict-di="">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">

      <a class="navbar-brand" href="/">socially</a>
    </div>
    <div class="navbar-right-container">
        <blaze-template name="loginButtons"></blaze-template>
    </div>
  </div>
</nav>

<div class="h100">
  <div ui-view class="ma-main-container container-fluid h100"></div>
</div>
</div>
</body>
